.App {
  height: 100vh;
  width: 100vw;

  background:#7395AE;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.spacer{
  height: 40px;
}

.Home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.profile {
  flex-direction: column;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
} 
.profile-image-container{
  position: relative;
  width: 220px;
  height: 200px;
  padding-top: 30px;
}

.container-vertical{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-horizontal{
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
}

.text{
  color: grey;
  font-size: 2rem;
}

.title{
  color: grey;
  font-size: 2em;
}

.circular-image-text{
  stroke: black 2px;
  font-size: 2rem;
  filter: blur(0);
  pointer-events: none;
}

.flip-card {
  position: absolute;
  max-width: 220px;
  max-height: 220px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
  border-radius: 10%;
}
