.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  background:#7395AE;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.Home {
  padding-top: 0px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-horizontal{
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
}

.text{
  color: grey;
  font-size: 2rem;
}

.title{
  color: grey;
  font-size: 2em;
}

.circular-image-text{
  stroke: black 2px;
  font-size: 2rem;
  filter: blur(0);
  pointer-events: none;
}
